@import '../../../variables';

.users {
    &__pagination, &__table {
        box-shadow: 5px 7px 5px $formShadow;
    }

    &__title {
        color: $textColor;
    }

    &__button {
        cursor: pointer;
    }
}

.pagination .page-link {
    color: $thirdTextColor;
    font-size: larger;
}

.pagination .page-item.active .page-link {
    color: $textColor;
    background-color: $secondTextColor;
}

.modal-backdrop {
    background-color:rgba(192,192,192,0.3);
  }