@import './../../../variables';

.header {
  width: 100%;
  background-color: $headerColor;
  color: $textColor;
  border-bottom: 4px solid $textColor;

  &__info {
    display: flex;
    justify-content: space-around;
    height: 120px;
  }

  &__text {
    display: flex;
    align-items: center;
    font-size: 40px;
  }
}