@import './../../../variables';

.header {
  width: 100%;
  padding: 20px;
  background-color: $headerColor;
  color: $textColor;
  border-bottom: 4px solid $textColor;

  &__nav-bar {
    font-size: 40px;
    margin-left: 40px;
  }
}