@import '../../../variables';

.todos {

    &-list {
        border: 5px solid $borderColor;
        border-radius: 15px;
        background-color: $mainColor;

        &__item {
            margin: 4px;
            border-bottom: 2px solid $borderColor;

            &:last-child {
                border: none;
            }
        }
    }

    &__input {
        background-color: $mainColor;
        border: 3px solid $borderColor;
        padding: 10px 5px;
    }

    &__select {
        background-color: $mainColor;
        border: 3px solid $borderColor;
        padding: 5px 0;
    }

    &__no-todos {
        display: flex;
        justify-content: center;
        color: $secondTextColor;
        font-size: 60px;
    }
}
    
.done {
    text-decoration: line-through;
}