$headerColor: #7FB354;
$footerColor: #4f5153;

$textColor: #797c7e;
$secondTextColor: #f5f0df;
$thirdTextColor: #7FB354;
$fourthTextColor: #4f1aca;

$mainColor: white;

$formShadow: #d4e9f5;
$headerShadow: #797c7e;

$borderColor: #797c7e;