@import './../../../variables';

.footer {
  display: flex;
  justify-content: center;
  background-color: $footerColor;
  color: $secondTextColor;

  &__info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
  }
}