@import '../../../variables';

.login-form-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

.login-form {
    padding: 100px 0;
    background-color: $mainColor;
    border: 5px solid $borderColor;
    border-radius: 15px;
}