@import '../../../variables';

.login-form-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-form {
    background: url(../../../images/login.jpg) no-repeat;
    background-size: 100% 100%;
    border-radius: 5px;
    box-shadow: 20px 20px 30px $formShadow;

    &__data {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 600px;
        border-radius: 5px;
        background-color: $mainColor;
    }

    &__info {
        padding-left: 40px;
        padding-top: 70px;
        text-shadow: rgb(68, 122, 202) 1px 3px 10px;
    }
}